

<ion-header>
  <ion-toolbar>
    <ion-title>Buscar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-searchbar
  placeholder="buscar Pelicula"
  animated debounce="700"
  [value]="textsearch"
  (ionChange)="search( $event )"
  >

  </ion-searchbar>
</ion-toolbar>
<div  *ngIf="isLoading">
  <ion-spinner name="crescent">

  </ion-spinner>
</div>
<ion-header>
  <ion-toolbar>
    <ion-title>movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="movies.length===0">
    <ion-list-header>
      <ion-label>
        Ideas
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let idea of ideas" (click)="selectIdea(idea)">
      <ion-label color="primary">{{idea}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="movies.length > 0">
    <ion-list-header>
      <ion-label>
        Resultados
      </ion-label>
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let movie of movies">
            <ion-card (click)="showDetail(movie.id)">
              <img [src]="'https://image.tmdb.org/t/p/w600_and_h900_bestv2' + movie.poster_path" alt="">
              <ion-card-header no-padding>
                <ion-card-subtitle class="movie-info" text-center>
                  {{movie.title}}
                </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content no-padding>
                <h2 class="movie-info">{{movie.release_date}}</h2>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list-header>
  </ion-list>
</ion-content>
